<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="aplicacion_polymer-app">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class Aplicacion_polymerApp extends Polymer.Element {
      static get is() { return 'aplicacion_polymer-app'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'aplicacion_polymer-app'
          }
        };
      }
    }

    window.customElements.define(Aplicacion_polymerApp.is, Aplicacion_polymerApp);
  </script>
</dom-module>
